{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if (session['loggedin'])  %}
<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" placeholder="Find a catchy title..." value="{{request.form.title }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="content">Content</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" placeholder="Write something.." style="height:200px" value="{{request.form.content }}"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
</div>
{% endif %}
<h2>Blog</h2>
{% if (not (session['hiddenPosts'])) and (session['loggedin']) %}
<button><a href="{{ url_for('seeHidden',b = True)}}">See hidden posts</a></button>
{% endif %}
{% if (session['hiddenPosts']) and (session['loggedin']) %}
<button><a href="{{ url_for('seeHidden',b = False)}}">Show only public posts</a></button>
{% endif %}
<p>This is a blog</p>

{% for post in posts %}

    <h3>{{ post['postTitle'] }}</h3>
    {% if (post['edited'])  %}
    <p>(edited)</p>
    {% endif %}
    {% if not (post['public'])  %}
    <p>(hidden)</p>
    {% endif %}
    <p>on {{post['postDate']}}</p>
    <p>{{ post['postContent' ]}}</p>
    <p>by {{ post['postOwnerName']}}</p>
    {% if (session['loggedin'])  %}

    <div class="dropdown">
        <button class="dropbtn"></button>
        <div id="dropdown" class="dropdown-content">
            <a href="{{ url_for('edit', id = post['postID']) }}">Edit</a>
            {% if (post['public'])  %}
			<a href="{{ url_for('hide', id = post['postID']) }}">Hide</a>
            {% endif %}
            {% if not (post['public'])  %}
            <a href="{{ url_for('show', id = post['postID']) }}">Show</a>
            {% endif %}
            <a href="{{ url_for('delete', id = post['postID']) }}">Delete</a>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% endblock content %}