{% extends 'layout.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

{% if (session['loggedin'])  %}
<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" placeholder="Find a catchy title..." value="{{request.form.title }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="content">Content</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" placeholder="Write something.." style="height:200px" value="{{request.form.content }}"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
    {% if msg %}
    <p class="msg">{{ msg }}
    {% endif %}
</div>
{% endif %}

{% if (not (session['hiddenPosts'])) and (session['loggedin']) %}
<button class="btn btn-default" ><a href="{{ url_for('seeHidden',b = True)}}">See hidden posts</a></button>
{% endif %}
{% if (session['hiddenPosts']) and (session['loggedin']) %}
<button class="btn btn-default" ><a href="{{ url_for('seeHidden',b = False)}}">Show only public posts</a></button>
{% endif %}

<div class="row">
    <div class="leftcolumn">
  

    {% for post in posts %}
        <div class="card">
        
            {% if (session['loggedin'])  %}
            <div class="dropdown">
                <button class="dropbtn"></button>
                <div id="dropdown" class="dropdown-content">
                    <a href="{{ url_for('edit', id = post['postID']) }}">Edit</a>
                    {% if (post['public'])  %}
                    <a href="{{ url_for('hide', id = post['postID']) }}">Hide</a>
                    {% endif %}
                    {% if not (post['public'])  %}
                    <a href="{{ url_for('show', id = post['postID']) }}">Show</a>
                    {% endif %}
                    <a href="{{ url_for('delete', id = post['postID']) }}">Delete</a>
                </div>
            </div>
            {% endif %}
            <h2>{{ post['postTitle'] }}</h2>
            
            
            <h5>{% if (post['edited']) %} (edited) {% endif %}
                 {% if not (post['public']) %} (hidden) {% endif %}
                Posted on {{post['postDate']}} by {{ post['postOwnerName']}}</h5>
            <p>{{ post['postContent' ]}}</p>
        </div>
        
        
    {% endfor %}
    </div>
    <div class="rightcolumn">
        <div class="card">
          <h3>We are social!</h3>
          <p>Social media links</p>
        </div>
    </div>

</div>

{% endblock content %}