{% extends 'layout.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

{% if (session['loggedin'])  %}
<div class="container">
    <form method="post" enctype="multipart/form-data"> <!--needed for adding a file to the form-->
        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" placeholder="Find a catchy title..." value="{{request.form.title }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="content">Content</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" placeholder="Write something.." style="height:200px" value="{{request.form.content }}"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="file" name="file" autocomplete="off">
            <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </p>
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
    {% if msg %}
    <p class="msg">{{ msg }}
    {% endif %}
</div>
{% endif %}

{% if (not (session['hiddenPosts'])) and (session['loggedin']) %}
<button class="btn btn-default" ><a href="{{ url_for('seeHidden',b = True)}}">See hidden posts</a></button>
{% endif %}
{% if (session['hiddenPosts']) and (session['loggedin']) %}
<button class="btn btn-default" ><a href="{{ url_for('seeHidden',b = False)}}">Show only public posts</a></button>
{% endif %}

<div class="row">
    <div class="leftcolumn">

    {% for post in posts %}
        <div class="card">
        
            
            <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <div class="picContainer">
                        {% if (post['pathToPic'])%}
                        <img src={{post['pathToPic']}} style="width:100%; height: 100%; filter: brightness(50%);">
                        {% else %}
                        <img src="/static/img/blog/grey.jpg" style="width:540px; height:360px; filter: brightness(50%);">            
                        {%endif%}

                    
                        <div class="centered">
                        <h2>{{ post['postTitle'] }}</h2>
                        <h5>
                           by {{ post['postOwnerName']}}</h5>
                        </div>
                    </div>
                  </div>
                  <div class="flip-box-back">
                      <h5> Posted on {{post['postDate']}}{% if (post['edited']) %} (edited) {% endif %}
                        {% if not (post['public']) %} (hidden) {% endif %}</h5>
                    <p>{{ post['postContent' ]}}</p>
                    {% if (session['loggedin'])  %}
                    <div class="dropdown">
                        <button class="dropbtn"></button>
                        <div id="dropdown" class="dropdown-content">
                            <a href="{{ url_for('edit', id = post['postID']) }}">Edit</a>
                            {% if (post['public'])  %}
                            <a href="{{ url_for('hide', id = post['postID']) }}">Hide</a>
                            {% endif %}
                            {% if not (post['public'])  %}
                            <a href="{{ url_for('show', id = post['postID']) }}">Show</a>
                            {% endif %}
                            <a href="{{ url_for('delete', id = post['postID']) }}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div> 
        </div>
        
        
    {% endfor %}
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h3>We are social!</h3>
            <p>Social media links</p>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
    </div>

</div>

{% endblock content %}
