{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="cycloop" class="home">
    <div class="ptext">
      <span class="border">
        CYCLOOP
      </span>
     </div>
</div>

<section id="product" class="product section section-light">
  <div class="members">
      <div class="member">
          <h2>Current prototype</h2>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IhRQ3ke7PKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="member">
           <h2>Next milestone</h2>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/d6jo3IRo8ls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
      </div>
  </div>
</section>

  <div class="products">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
  </div>

<section id="team" class="section section-white team">
  <h2>This is us!</h2>
 
  {% for team in teams%}
  <div class="members">

    {% for person in team %}
    <div class="memberA">
      <img src= {{person['pathToPic']}} class="team-img">
      <h3 style="font-size: 22px;">{{person['name']}}</h3>
      <a>-{{person['position']}}-</a>
      <p>{{person['descr']}}</p>
    </div>
    {% endfor %}
    
  </div>
  {% endfor %}

</section>

<div class="products">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
</div>

<section id="partners" class="section-partners section-white">
  <h2>Thanks to:</h2>
  <img src="/static/img/partners/1.png">
  <img src="/static/img/partners/2.png">
  <div class="members">
  </div>
</section>

<div class="products">
  <div class="ptext">
    <span class="border trans">
    </span>
  </div>
</div>


<section id="partners" class="section-partners section-white">
  <div class="values">
  <h1>Our vision:</h1>
  <h3>Creating a more sustainable and livable planet in making recycling as easy as
    throwing something in the bin.</h3>
  </div>
    <div class="values">
      <h1>Our values:</h1>
      <div class="tab">
        <button class="tablinks active"  onmouseover=" openValue(event, 'Be yourself')" id="defaultOpen">Be yourself</button>
        <button class="tablinks"  onmouseover=" openValue(event, 'Be transparent')">Be transparent</button>
        <button class="tablinks"  onmouseover=" openValue(event, 'Be customer-centric')">Be customer-centric</button>
        <button class="tablinks"  onmouseover=" openValue(event, 'Be curious and bold')">Be curious and bold</button>
        <button class="tablinks"  onmouseover=" openValue(event, 'Be sustainable')">Be sustainable</button>
      </div>
      
      
      <!-- Tab content -->
      <div id="Be yourself" class="tabcontent" style="display: block;">
        <h3>Difference is valued.</h3>
        <p>
          We believe that diverse ideas, perspectives and backgrounds fuel innovation and
          bring about a more powerful and creative work environment yielding greater results.
          We seek to form an inclusive workforce that embraces the diverse communities we
          serve and in which each person feels confident and enabled to be their true authentic
          self. Be yourself at work, because that is your best version.
          </p>
      </div>
      
      <div id="Be transparent" class="tabcontent">
        <h3>Open collaboration for truth.</h3>
        <p>
          We believe that integrity is the foundation for our company on which coworkers build
          relationships, trust, honesty and effective interpersonal relationships. We strive to
          always act just and right, work truthfully and honourably, thus maintaining high ethical
          standards, even when no one is watching. We hold ourselves accountable for choice
          and outcomes, good as well as bad ones.
          </p>  </div>
      
      <div id="Be customer-centric" class="tabcontent">
        <h3>Encourage them.</h3>
        <p>
          We believe in the engagement of customers as a way to create the most efficient
          solutions together. We want to build customer relations by creating awareness and
          responsible choices that respect the earth and the environment. In partnering with
          our customers and putting ourselves in their shoes, we can understand their needs
          and thus deliver the best experience. In doing so we are always open to challenge
          our ideas of what’s possible.
          </p>
      </div>
      <div id="Be curious and bold" class="tabcontent">
        <h3>Strive for excellence.</h3>
        <p>
      We believe in challenging the status quo. We are passionate about learning and seek
      to constantly improve and innovate. We are not afraid to make mistakes. We
      proactively use them as an opportunity to share and learn. We work to challenge one
      another to push boundaries and think beyond the box to have an impact in this
      extraordinary world. Thus, we value original thinking, the passion to attack difficult
      challenges, and thoughtful feedback.
      </p>
     </div>
      
      <div id="Be sustainable" class="tabcontent">
        <h3>Embrace it.</h3>
        <p>
          We believe in the power of technology to enable sustainable progress and minimise
          our impact on the environment for the benefit of current and future generations. We
          strive for passionate collaborators, who are dedicated to act as environmental
          advocates and to improve the health and happiness of the world. We are committed
          to incorporate recyclable materials and renewable energy from local sources
          whenever possible. We actively consider the environment in the choices we make
          and work towards a more circular economy.
          </p>
      </div>
        
    </div>
  



  <div class="members">
  </div>
</section>

<div class="products">
  <div class="ptext">
    <span class="border trans">
    </span>
  </div>
</div>



<div id="contact" class="fixfooter">
    <h2>CONTACT <a href="mailto:info@cycloop.co.uk">info@cycloop.co.uk</a> </h2>
</div>
  
<script src="/static/js/values.js"></script>
{% endblock content %}