<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
		<title>Cycloop</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">>
		
		<title>{% block title %}{% endblock %}</title>
	
	</head>

	<body ng-app="CycloopApp" class="loggedin">

		<ul id="nav" class="nav">
			<li><a href="{{ url_for('home') }}">Cycloop</a></li>
			<li><a href="{{ url_for('product') }}">Product</a></li>
			<li><a href="{{ url_for('team') }}">Team</a></li>
			<li><a href="{{ url_for('contact') }}">Contact</a></li>
			<li><a href="#">News</a></li>
			<li><a href="{{ url_for('blog') }}">Blog</a></li>
			{% if (session['loggedin'])  %}
				<li style="float:right" ><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
			{% if not (session['loggedin']):%}
				<li style="float:right" ><a href="{{ url_for('login') }}">Login</a></li>
			{% endif %}
		</ul>

		{% block content %}{% endblock %}

	</body>


	{% if section %}
	<script>
	$(function() {
	$("html, body").animate({ scrollTop: $("#{{ section }}").offset().top }, 500);
	});
	</script>
	{% endif %}

	<script src="/static/js/navbar.js"></script>
	<script src="/static/js/faqs.js"></script>
	
</html>