{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="cycloop" class="home-space"></div>
{#<div class="home"></div>#}
<video autoplay muted loop class="home">
  <source src="/static/img/cycloopfinal.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="home-space"></div>
<a href="{{ url_for('product') }}">
  <div id="arrow" class="arrow ">
  <span></span>
  <span></span>
  <span></span>
</div>
</a>

<div class="distance_keeper">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
</div>

<section id="product" class="product section section-product">
  <div class="members">
      <div class="member">
          <h2>Our Product</h2>
          The bin operates in three steps: first, pulling apart different items, then using sensors and AI models to identify the materials of the separated items and sort them appropriately. Finally, the bin also compresses materials, such as plastic and paper, to maximize storage capacity.
      </div>
      <div class="member">
<video autoplay muted loop class="home">
  <source src="/static/img/finalProduct.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
      </div>
  </div>
</section>

  <div class="distance_keeper">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
  </div>

<section id="team" class="section section-white team">
  <h2>This is us!</h2>
 
  {% for subTeam in team%}
  <div class="members">

    {% for person in subTeam %}
    
    {% if person %}
    <div class="memberA {%if person['id']==4%} leftMember {%endif%} {%if person['id']==5%} rightMember {%endif%}">
      <img src= {{person['pathToPic']}} class="team-img">
    <h3 style="font-size: 22px; ">{{person['name']}}</h3>
      <a>-{{person['position']}}-</a>
      <p>{{person['descr']}}</p>
    </div>
    {%endif%}

    {% endfor %}
    
  </div>
  {% endfor %}

</section>


<div class="distance_keeper">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
</div>



<section id="values" class="section-values section-white">
  <div class="values">
  <h1>Our vision:</h1>
  <h3>Creating a more sustainable and livable planet by making recycling as easy as
    throwing something in the bin.</h3>
  </div>
  
  <div class="values notmobile">
    <h1>Our values:</h1>
    <div class="tab">
      {% for value in values%}
        <button class="tablinks {% if (value['id']==3 )%} active {%endif%}"  onmouseover=" displayValue(event, {{value['id']}})">{{value['title']}}</button>
      {% endfor %}        
    </div>
    {% for value in values%}
      <div id= {{value['id']}} class="tabcontent" {% if (value['id']==3 )%} style="display: block;" {%endif%}>
        <h3>{{value['subtitle']}}</h3>
        <p>{{value['descr']}}</p>
      </div>
    {% endfor %}        
  </div>

  <div class="values mobile">
    <h1>Our values:</h1>
    {% for value in values%}
    <div class="tab">
      <button class="tablinks"  onmouseover=" displayValue(event, {{value['id'] + (values|count)}})">{{value['title']}}</button>
    </div>
    <div id= {{value['id'] + (values|count)}} class="tabcontent">
      <h3>{{value['subtitle']}}</h3>
      <p>{{value['descr']}}</p>
    </div>
    {% endfor %}        
  </div>
</section>


<div class="distance_keeper">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
</div>

<section id="partners" class="section-partners section-white">
  <h2>Thanks to:</h2>
  <img src="/static/img/partners/1.png">
  <img src="/static/img/partners/2.png">
  <div class="members">
  </div>
</section>

<div class="distance_keeper">
  <div class="ptext">
    <span class="border trans">
    </span>
  </div>
</div>



<div id="contact" class="fixfooter flex-container">
  <div class="contact-div">
    <h3>
      Contact <a href="mailto:info@cycloop.co.uk">info@cycloop.co.uk</a> 
    </h3>
  </div>
  <!--
    <div class="contact-div">
    <h3>
      Experiencing issues? <a href="https://forms.gle/3PcBmR2zme9zLGQB6">Let us know</a>
    </h3>
  </div>
  -->
</div>
  
<script src="/static/js/values.js"></script>
{% endblock content %}