{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section id="map" class="product section section-light">
<div id="map"></div>
</section>

<script src="/static/js/map.js"> </script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLQlqxDaDLUqsu7KnMhl0Ud1FNIA9-zo&callback=initMap">
</script>
{% endblock content %}