{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="secwrapper" class="news">
<section>
  <article id="featured">
    <a href="#"><img src="/static/img/blog/2.jpg" alt=""/></a>
    <img src="/static/img/featured.png" alt="" id="featuredico"/>
    <h1>Varius Gravida Mi Volutpat</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor, tortor at vulputate blandit, magna risus posuere turpis, nec cursus ipsum arcu nec felis. Mauris sed lectus dui. Suspendisse enim elit, tempor ac ullamcorper et, eleifend quis sem. Sed euismod sagittis ligula, a imperdiet sapien molestie nec. Curabitur ut eros a justo fermentum vulputate ac sit amet metus.</p>
    <a href="#" class="readmore">Read more</a>
  </article>
  <article>
    <img src="/static/img/blog/1.jpg" />
    <h1>Tortor at Vulputate Blandit</h1>
    <p> Aenean quis dignissim diam. Etiam venenatis congue velit, varius gravida mi volutpat ac. Sed ut pretium dolor. Etiam tempor felis ac eros dictum quis consectetur dolor tristique. Aliquam scelerisque, odio vel luctus commodo, nisl nisl vehicula metus, ut lobortis eros sem blandit est.</p>
    <a href="#" class="readmore">Read more</a>
  </article>
  <article class="rightcl">
    <a href="#"><img src="/static/img/blog/1.jpg" /></a>
    <h1>Curabitur ut Eros a Justo Fermentum Vulputate</h1>
    <p>Etiam tempor felis ac eros dictum quis consectetur dolor tristique. Aliquam scelerisque, odio vel luctus commodo, nisl nisl vehicula metus, ut lobortis eros sem blandit est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor, tortor at vulputate blandit, magna risus posuere turpis.</p>
    <a href="#" class="readmore">Read more</a>
  </article>			
  <article>
    <a href="#"><img src="/static/img/blog/1.jpg" /></a>
    <h1>Fermentum Vulputate Ac Sit Amet Metus</h1>
    <p>Mauris sed lectus dui. Suspendisse enim elit, tempor ac ullamcorper et, eleifend quis sem. Sed euismod sagittis ligula, a imperdiet sapien molestie nec. Curabitur ut eros a justo fermentum vulputate ac sit amet metus. Aenean quis dignissim diam.</p>
    <a href="#" class="readmore">Read more</a>
  </article>

  <article>
    <a href="#"><img src="/static/img/blog/1.jpg" /></a>
    <h1>Aenean Quis Dignissim Diam</h1>
    <p>Vulputate ac sit aenean quis dignissim diam. Etiam venenatis congue velit, varius gravida mi volutpat ac. Sed ut pretium dolor. Etiam tempor felis ac eros dictum quis consectetur dolor tristique. Aliquam scelerisque, odio vel luctus commodo, nisl nisl vehicula metus, ut lobortis eros sem blandit est.</p>
    <a href="#" class="readmore">Read more</a>
  </article>
</section>
</div>
{% endblock content %}

    